<div class="form-container">
  <form [formGroup]="searchForm">
    <mat-form-field class="form-field">
      <mat-label>Select Breed</mat-label>
      <mat-select formControlName="breed" multiple>
        <mat-option *ngIf="(breeds$ | async)?.length === 0" disabled
          >No breeds available</mat-option
        >
        <mat-option *ngFor="let breed of breeds$ | async" [value]="breed.id">
          {{ breed.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Number of Results</mat-label>
      <input matInput formControlName="limit" type="number" min="1" max="50" />
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
</div>

<ng-container *ngIf="loading$ | async; else results">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #results>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let cat of cats$ | async">
      <img [src]="cat.url" alt="Cat image" class="cat-image" />
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
